body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wraper-container {
    padding: 10px;
    background-color: black;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

.child1,
.child2,
.child3 {

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    margin: 20px;
    width: 300px;
    align-items: center;

}

.child1 {
    border-radius: 12px;
    border: 2px solid gray;
    padding: 10px;
}

h3,
h4,
h5 {
    color: white;


}

h5 {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgb(255, 77, 7);
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-size: 30px;
}

input {
    background-color: gray;
    height: 25px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    color: white;
}

button {
    height: 26px;
    width: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

#todolist {
    color: white;
}